@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > p{
	margin: 3em auto;
	font-variant: small-caps;
}

[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: left;
}

@supports(display: table){
	[epub|type~="epigraph"]{
		display: table;
	}
}

section[epub|type~="dedication"] footer{
	margin-top: 3em;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

footer{
	text-align: right;
}

[epub|type~="z3998:letter"] header{
	margin-bottom: 1em;
	text-align: left;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: left;
	text-indent: 0;
}
