@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

b{
	font-weight: normal;
	font-variant: small-caps;
}

section[epub|type~="dedication"] p{
	margin-top: 5em;
	margin-bottom: 2em;
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	margin: 3em;
	margin-top: 0;
	text-align: left;
	text-indent: 0;
	display: inline-block;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure + p{
	text-indent: 0;
}

/* In all cases, also include the below styles */
figure img{
	max-width: 100%;
	margin: auto;
	display: block;
}

figcaption{
	padding-top: 1em;
	font-style: italic;
	font-size: .75em;
}

footer{
	text-align: right;
}

[epub|type~="z3998:letter"] header{
	margin-bottom: 1em;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
	text-indent: 0;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

.signature{
	text-align: right;
	font-variant: small-caps;
}
